{% extends 'base.html' %}

{% block content %}
<main class="container py-5" >
    <section class="card card-body">
        <h1 class="display-6 text-center">¿Estás seguro de que deseas eliminar tu cuenta?</h1>
        <p class="text-center">Esta acción no se puede deshacer y se perderán todas tus tareas creadas.</p>
        <div class="text-center">
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Eliminar cuenta</button>
                <a href="{% url 'tasks' %}" class="btn btn-primary">Cancelar</a>
            </form>
        </div>
    </section>
</main>

{% endblock %}