<!-- Pagina de registro -->
{% extends 'base.html' %} <!-- Hereda de la página base -->

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 mt-5">
                <form action="/signup/" method="post" class="card card-body"> 
                    <h1 class="text-center display-5">Regístrete aquí!</h1>
                    {{error}}
                    {% csrf_token %} <!-- token de seguridad -->

                    <div class="mb-3">
                        <label for="username">Usuario:</label>
                        <input required type="text" id="username" name="username" placeholder="Escribe tu nombre de usuario" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="password1">Contraseña:</label>
                        <input required type="password" id="password1" name="password1" placeholder="Escribe tu contraseña" class="form-control">
                    </div> 
                    <div class="mb-3">
                        <label for="password2">Confirmar contraseña:</label>
                        <input required type="password" id="password2" name="password2" placeholder="Confirma tu contraseña" class="form-control">
                    </div>
                    <button class="btn btn-primary">
                        Crear cuenta
                    </button>
                </form>
            </div>
        </div>   
    </main>

{% endblock %}

